@use "../../styles/partials/__variables" as *;
@use "../../styles/partials/__typography" as *;
@use "../../styles/partials/__mixins" as *;

.item-details-wrap {
  @include tablet {
    background: linear-gradient(
      $background-graphite 5.3rem,
      #f7f8f9 3.75rem,
      #f7f8f9 85%
    );
    position: relative;
    top: 0rem;
  }
}

.item-details {
  font-family: "Titillium Web", sans-serif;
  position: relative;
  top: -4rem;
  margin: 0rem 1rem 2rem 1rem;
  border-radius: 3px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
  @include tablet {
    top: -1rem;
    border-radius: 3px;
    margin-bottom: 23rem;
  }
  @include desktop {
    width: 80%;
    margin: 0rem 1rem 20rem 7.5rem;
  }
  &__back-button {
    display: flex;
    width: 36px;
    height: 36px;
    padding: 8px 0;
    justify-content: left;
    align-items: center;
    flex-shrink: 0;
    img {
      width: 20px;
      height: 20px;
    }
  }
  &__bottom {
    padding: 0.5rem 1.5rem;
    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 1rem 1.5rem 2rem 1.5rem;
      
    }
  }
  &__category-title {
    color: var(--slate, #5c667e);
    font-feature-settings: "clig" off, "liga" off;

    /* M H4 */
    margin-bottom: 0.3rem;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 145.455% */
    text-transform: uppercase;
  }
  &__category-value {
    color: var(--instock-black, #13182c);
    font-feature-settings: "clig" off, "liga" off;

    /* M P2 */
    margin: 0rem;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
  }
  &__description {
    color: var(--instock-black, #13182c);
    font-feature-settings: "clig" off, "liga" off;

    /* M P2 */
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
  }
  &__edit-button {
    margin: auto;
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    background-color: #2e66e5;
    img {
      width: 20px;
      height: 20px;
    }
  }
  &__h1 {
    font-family: "Titillium Web", sans-serif;
    color: $primary-instock-black;
    font-size: 1.7rem;
    font-feature-settings: "clig" off, "liga" off;
    line-height: 36px;
    padding: 0;
    margin: auto;
    width: 100%;
  }
  &__left-column,
  &__right-column {
    @include tablet {
      width: 40%;
    }
  }
  &__right-column {
  }
  &__quantity-title {
    color: var(--slate, #5c667e);
    font-feature-settings: "clig" off, "liga" off;

    /* M H4 */
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 145.455% */
    text-transform: uppercase;
  }
  &__quantity-value {
    color: var(--instock-black, #13182c);
    font-feature-settings: "clig" off, "liga" off;

    /* M P2 */
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
  }
  // &__left-column {
  //   @include tablet {
  //     border-right: $secondary-cloud;
  //   }
  // }
  &__status-container {
    display: flex;
    flex-direction: row;
    @include tablet {
      flex-direction: row;
    }
  }
  &__status-left {
    width: 50%;
    @include tablet {
      width: 60%;
    }
  }
  &__status-right {
    width: 50%;
    @include tablet {
      width: 40%;
    }
  }
  &__status-title {
    color: var(--slate, #5c667e);
    font-feature-settings: "clig" off, "liga" off;

    /* M H4 */

    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 145.455% */
    text-transform: uppercase;
   
  }
  &__status-value-green,
  &__status-value-red {
    font-feature-settings: "clig" off, "liga" off;
    /* M H4 */
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 145.455% */
    text-transform: uppercase;
    border-radius: 20px;
    width: 50%;
    text-align: center;
  }
  &__status-value-green {
    padding: 0.3rem;
    color: #158463;
    background: rgba(21, 132, 99, 0.07);
    @include desktop {
      width: 25%;
      padding: .5rem;
    }
  }
  &__status-value-red {
    padding: 0.3rem;
    background-color: rgba(201, 69, 21, 0.07);
    color: $supporting-red;
    @include desktop {
      width: 40%;
      padding: .5rem;
    }
  }
  &__title {
    color: var(--slate, #5c667e);
    font-feature-settings: "clig" off, "liga" off;
    /* M H4 */
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 145.455% */
    text-transform: uppercase;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    border-bottom: #bdc5d5 1px solid;
    padding: 1.5rem;
  }
  &__store-title {
    color: var(--slate, #5c667e);
    font-feature-settings: "clig" off, "liga" off;

    /* M H4 */
    margin: 0.3rem 0rem;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 145.455% */
    text-transform: uppercase;

    @include tablet {
      width: 100%;
    }
  }
  &__store-value {
    color: var(--instock-black, #13182c);
    font-feature-settings: "clig" off, "liga" off;

    /* M P2 */
    font-size: 13px;
    margin-top: 0rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
    @include tablet {
      width: 100%;
    }
  }
}

.item-details__left-column {
  @include tablet {
    border-right: $primary-instock-black;
  }
}