@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_mixins" as *;

.nav {
  padding: 1rem;
  background-color: $background-graphite;
  @include tablet {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    align-items: center;
  }

  @include desktop {
    padding: 1.5rem 8.5rem;
  }
  &__logo {
    color: $primary-white;
    &:hover {
      color: #2E66E5;
    }
  }
  &__img-container {
    text-align: center;
  }

  &__link-container {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;

    @include tablet {
      padding-top: 0;
    }
    @include desktop {
      justify-content: space-around;
    }
  }

  a {
    text-decoration: none;
  }

  a.nav__link {
    @include font-m-h3-labels-links-buttons;
    font-family: "Titillium Web", sans-serif;
    text-decoration: none;
    width: 48%;
    text-align: center;
    color: white;
    font-size: 1rem;
    @include tablet {
      padding: 0rem .8rem;
      width: 100%;
    }
    

    &:hover {
      background-color: #2E66E5;
      border-radius: 20px;
      cursor: pointer;
    }

    &:active {
      background-color: $primary-instock-black;
      height: 36px;
      width: 100%;
      border-radius: 20px;
    }

    @include tablet {
      @include font-h3-labels-links-buttons;
    }

    &--padding {
      margin-left: 2.3rem;
    }
  }

  &--selected {
    background-color: #2E66E5;
    height: 40px;
    width: 100%;
    border-radius: 20px;
  }
  p {
    margin: 0.7rem;
    @include tablet {
      margin: 0.5rem;
      width: 75%;
    }
  }
}
